@charset "UTF-8";
body {
    background-color: #72af499d;
    font-family: 'Open sans';

}

section.box {
    width: 400px;
    margin: auto;
    height: 500px;
    margin-top: 70px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
    border-radius: 10px 10px 0px 0px;
    background-color: #72AF49;

}

div.imagem {
    height: 50%;
    background-image: url(../image/logo-spaten.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}
img {
    width: 200px;
    display: block;
    margin: auto;
    
}
div.login{
    width: 100%;
    height: 50%;
    background-color: #D0CECE;
    border-radius: 0px 0px 10px 10px ;
    
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    
    font-weight: 600;
    font-family: 'Open sans';
    font-size: 0.8em;
}

input {
    display: block;
    margin: auto;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 15px;

}

#person{
    position: absolute;
    top: 51%;
    right: 24%;
}
#key {
    position: absolute;
    top: 59.5%;
    right: 24%;
}

.button {
  
}